name: Release
on:
  push:
    tags:
      - "v*"
jobs:
  build:
    name: Publish
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: oven-sh/setup-bun@735343b667d3e6f658f44d0eca948eb6282f2b76 # v2
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version: "lts/*"
          registry-url: "https://registry.npmjs.org"
      - name: Install Dependencies
        run: bun i --frozen-lockfile
      - name: Build Package
        run: bun run build
      - name: Publish to NPM
        env:
          NODE_AUTH_TOKEN: ${{ secrets.RSBUILD_PLUGIN_NPM_TOKEN }}
        run: npm publish --provenance --access public
      - name: Create GitHub Release
        uses: ncipollo/release-action@v1
        with:
          generateReleaseNotes: "true"
